<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VulQuery</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="css/vulquery.css">
</head>
<body ng-app="BlankApp" ng-cloak>
<div layout="column" ng-cloak> <!--ng-controller="BasicDemoCtrl"-->
    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')"
            md-whiteframe="4">

        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">VulQuery</h1>
        </md-toolbar>
        <md-content ng-controller="LeftCtrl" layout-align="center center" layout-padding>
            <div layout-align="center end">
                <md-input-container>
                    <label>Group ID</label>
                    <input required ng-model="dependency.groupId">
                </md-input-container>

                <md-input-container>
                    <label>Artifact ID</label>
                    <input required ng-model="dependency.artifactId">
                </md-input-container>

                <md-input-container>
                    <label>Version</label>
                    <input ng-model="dependency.version">
                </md-input-container>
            </div>

            <md-button class="md-raised md-primary">Search</md-button>
            <md-button class="md-raised md-primary">Clear</md-button>
        </md-content>
    </md-sidenav>
    <md-button class="md-fab" aria-label="Menu">
        <ng-md-icon icon="menu"></ng-md-icon>
    </md-button>


    <div ng-view></div>

    <footer layout-align="end end">
        <a href="">About</a>
        <a href="">Contribute</a>
    </footer>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>
<script src="js/vulquery.js"></script>

</body>
</html>